@font-face {
    font-family: 'Nexus';
    src: url('../fonts/NexusSans-Regular.otf');
}
  
@font-face {
    font-family: 'Nexus';
    src: url('../fonts/NexusSans-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexus';
    src: url('../fonts/NexusSans-Italic.otf');
    font-weight: normal;
    font-style: italic;
}